body {
    background-color: blueviolet;
    border: lawngreen solid 15px; 
}

h1 {
    color: white;
    font-size: 3em;
    text-align: center;
}

h2 {
    color: white;
    font-size: 2em;
    text-align: center;
}

button {
    background-color: white;
    color: blueviolet;
    font-size: 35px;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
    outline: none;
    text-align: center;
    text-decoration: dashed;
}